@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

*,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
  background: #fff;
  overflow: auto;
  /* Changed from none to auto to allow scrolling if needed */
  margin: 0;
  padding: 0;
}

.form-wrapper {
  min-height: calc(100vh - 80px);
  /* Adjust based on navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 680px;
  padding: 30px;
  margin-top: -5%;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0 8px 20px 0px #1f1f1f1a;
  overflow: hidden;
}

.form-container .img img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 180px;
  margin-left: 10.5%;
  margin-top: -5%;
}

.form-container .title {
  top: 20%;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  margin-left: 9rem;
  margin-bottom: 5rem;
  color: #3e3e3e;
}

.form-container .float-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 15%;
}

.form-container .name-lbl label {
  display: inline-block;
  font-weight: 600;
  margin-top: 115px;
  font-size: 25px;
  color: #8D8D8D;
  margin-left: -20rem;
}

.form-container .btn-primary {
  margin-top: 16%;
  background: #3e3e3e;
  color: #fff;
  outline: none;
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
  min-width: 100%;
  height: 70px;
  font-size: 25px;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #000;
  outline: none !important;
  border: none !important;
  box-shadow: none;
  color: #fff;
}