.row {
    margin-left: -15px;
    margin-right: -15px;
}

div {
    display: block;
}

.row:before {
    content: " ";
    display: table;
}

.col-lg-4,.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

element.style {
    cursor: pointer;
}

.widget.panel {
    overflow: hidden;
}

.bg-green {
    background-color: #9ACD32;
    color: #fff!important;
}

.widget {
    margin-bottom: 20px;
    border: 0;
}

.panel {
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

* {
     
    box-sizing: border-box;
}

:after, :before {
     
    box-sizing: border-box;
}

.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

style attribute {
    cursor: pointer;
}

.bg-green {
    background-color: #9ACD32;
    color: #fff!important;
}

.row:before {
    content: " ";
    display: table;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

.row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}

.bg-green-dark {
    background-color: #27b268;
    color: #fff!important;
}

.pv-lg {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-4{
   
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
 
}

.text-center {
    text-align: center;
}

.fa-3x {
    font-size: 3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
     
}

.fa-sign-in:before {
    content: "\f090";
}

:before {
     
    box-sizing: border-box;
}


.row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}
.bg-green-dark {
    background-color: #27b268;
    color: #fff!important;
}
.pv-lg {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-8  {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.h2, h2 {
    font-size: 30px;
}

  .h2 {
     
    margin-bottom: 10.5px;
}
  .h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.text-uppercase {
    text-transform: uppercase;
}

/* The blue color */

element.style {
    cursor: pointer;
}

.widget.panel {
    overflow: hidden;
}

.bg-blue {
    background-color: #0D98BA;
    /* background-color: #0066CC; */
    color: #fff!important;
}

.widget {
    margin-bottom: 20px;
    border: 0;
}

.panel {
     
    border-radius: 4px;
     
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

style attribute {
    cursor: pointer;
}

.bg-blue {
    background-color: #4052dc;
    color: #fff!important;
}

.row:after {
    clear: both;
}

.row:before {
    content: " ";
    display: table;
}

:before {
     
    box-sizing: border-box;
}

:after  {
     
    box-sizing: border-box;
}

.bg-blue-dark {
    background-color: #1e21df;
    color: #fff!important;
}

.fa-user:before {
    content: "\f007";
}

.mt0 {
    margin-top: 0!important;
}

/* The purple one */

.bg-purple {
    background-color: #2b96dd;
    color: #fff!important;
}

.row:before {
    content: " ";
    display: table;
}

:before {
     
    box-sizing: border-box;
}

.row:after {
    clear: both;
}

.row:after{
    content: " ";
    display: table;
}

:after {
     
    box-sizing: border-box;
}

.bg-purple-dark {
    background-color: #2b78dd;
    color: #fff!important;
}

/* .fa-3x {
    font-size: 3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
     
} */

.fa-sign-out:before {
    content: "\f08b";
}

:before {
     
    box-sizing: border-box;
}

style attribute {
    cursor: pointer;
}

/* The grey one */

.bg-gray-light {
    background-color: #e4eaec;
    color: #515253!important;
}

.row:before {
    content: " ";
    display: table;
}

:before {
     
    box-sizing: border-box;
}

.row:after {
    clear: both;
}

.row:after {
    content: " ";
    display: table;
}

:after  {
     
    box-sizing: border-box;
}

.bg-gray-dark {
    background-color: #3a3f51;
    color: #fff!important;
}

.fa-calendar:before {
    content: "\f073";
}

:before {
     
    box-sizing: border-box;
}  

/* ====================================End of grids style ===================================*/


