@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
  background: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin: 50px auto;
  box-shadow: 0 8px 20px 0px #1f1f1f1a;
  border-radius: 10px;
  overflow: hidden;
}

.form-container .img  img{
  margin: 0;
  padding: 0; 
  max-width:100%; 
  height: 145px;
  margin-left: 7.5rem;
  margin-bottom: 3rem;
}

.row1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img{
  padding: 5px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; border-bottom-left-radius: 15px;
}

.responsive {
  max-width: 100%;
  height: auto;
}
