@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
  background-color: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 450px;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0px 8px 20px 0px #1f1f1f1a;
  overflow: hidden;
}

.form-container .img  img{
  margin: 0;
  padding: 0; 
  max-width:100%; 
  height: 140px;
  margin-left: 9rem;
  margin-top: -10px;
}

.form-container .title {
  color: #8d8d8d;
  top: 20%;
  font-size: 25px;
  font-weight: 800;
  margin-left: 12rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

.form-container .d-flex {
  margin-top: 20%;
  margin-bottom: 30%;
}

.form-container select {
  width: 80%;
  height: 60px;
  color: #8D8D8D;
  outline: none;
  border: 1px solid #6C757D;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 18px;
  float: left;
}

.form-container input[type=text] {
  margin-top: 3.2%;
  width: 80%;
  height: 60px;
  color: #8D8D8D;
  outline: none;
  border: 1px solid #6C757D;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 18px;
  float: left;
}

.btn-primary{
  background-color: #3e3e3e;
  outline: none;
  border: 0px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: none;
  margin-top: 3.2%;
  min-width: 20%;
  height: 60px;
  float: left;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #000;
  outline: none !important;
  border: none !important;
  box-shadow: none;
  color: #fff;
}

.invalid-feedback{
  color: #ff606e;
}

.valid-feedback{
 color: #2acc80;
}
