@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

*, body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
  background-color: #fff;
}

.form-body {
  max-width: 850px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0 8px 20px 0px #1f1f1f1a;
  overflow: hidden
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  border: none;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 640px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content .img img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 140px;
  margin-left: 5rem;
  margin-top: -18%;
}

.form-content h3 {
  color: black;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 6.8rem;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #8d8d8d;
  text-align: left;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: black;
}

.form-content input[type="tel"],
.form-content input[type="email"],
.form-content input[type="text"] {
  min-width: 500px;
  min-height: 50px;
  padding: 9px 20px;
  text-align: left;
  border: 1px solid #8d8d8d;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

.btn-primary {
  background-color: #3e3e3e;
  color: #fff;
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
  min-width: 90%;
  min-height: 60px;
  margin-left: 1.8rem;
  margin-top: 5%;
  font-size: 30px;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #000;
  outline: none !important;
  border: none !important;
  box-shadow: none;
  color: #fff;
}

.form-check {
  margin-top: 3%;
}

.invalid-feedback {
  color: #ff606e;
}

.valid-feedback {
  color: #2acc80;
}

.form-items .list {
  width: 100%;
  background-color: #ace5ee;
  border-radius: 0 0 5px 5px;
}

.form-items .list2 {
  width: 100%;
  background-color: #ace5ee;
  border-radius: 0 0 5px 5px;
}

.form-items ul {
  list-style: none;
  background: #ace5ee;
}

.list:hover {
  color: #8d8d8d;
  background-color: #ace5ee;
  border: none;
}

.list2:hover {
  color: #8d8d8d;
  background-color: #ace5ee;
  border: none;
}
