/*  ========================Tables style======================================= */

.content-wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    resize: vertical;
}

.container-fluid:before{
    content: " ";
    display: table;
}

:before {
     
    box-sizing: border-box;
}

.container-fluid:after 
    {
        clear: both;
    }
 
    .container-fluid:after{
        content: " ";
        display: table;
        resize: vertical;
    }

    :after{
         
        box-sizing: border-box;
    }


    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row:before {
        content: " ";
        display: table;
    }

    :before {
         
        box-sizing: border-box;
    }

    .row:after {
        clear: both;
    }

    .row:after{
        content: " ";
        display: table;
    }

    :after {
         
        box-sizing: border-box;
    }

    .col-lg-12{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .panel.panel-default {
        border-top-width: 6px;
    }

    .panel-default {
        /* border-color: #cfdbe2; */
        border-color: white;
    }

    .panel {
        margin-bottom: 21px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }

    .panel .panel-heading {
        border-bottom: 0;
        font-size: 14px;
    }

    .panel-default>.panel-heading {
        color: #444;
        background-color: #fff;
        border-color: #cfdbe2;
    }

    .panel-heading {
        padding: 10px 15px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    element.style {
        float: left;
    }

    .panel .panel-heading {
        /* border-bottom: 0; */
        font-size: 14px;
    }

    .panel-default>.panel-heading {
        color: #444;
        /* background-color: #fff;
        border-color: #cfdbe2; */
    }

    element.style {
        margin-bottom: 10px;
    }

    .panel .panel-heading a {
        text-decoration: none!important;
    }

    .btn {
        border-radius: 3px;
        font-size: 13px;
        border-color: transparent;
        -webkit-appearance: none;
        outline: 0!important;
        -o-transition: all .1s;
        transition: all .1s;
    }

    .control-search input[type=text] {
        position: relative;
        border: none;
        margin-left: 47rem;
        min-width: 250px;
        border-radius: 5px;
        height: 35px;
        resize: vertical;
        color: #8d8d8d;
    }

    .btn-primary {
        color: #fff;
        background-color: #3e3e3e;
        margin-right: 1rem;
        width: 60px;
        text-align: left;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #000;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 16px;
        line-height: 1.52857143;
        user-select: none;
    }

    a {
        background: 0 0;
    }

    .panel-body {
        padding: 15px;
    }

    .panel-body:before{
        content: " ";
        display: table;
    }

    :before {
        box-sizing: border-box;
    }

    .panel-body:after {
        clear: both;
    }

    .panel-body:after {
        content: " ";
        display: table;
    }

    :after {
        box-sizing: border-box;
    }

    .panel .table {
        margin-bottom: 0;
        border: 0;
    }

    .table {
        width: 100%;
        max-width: 100%;
    }

    table {
        background-color: transparent;
        display: table;
        resize: vertical;
        border-collapse: collapse;
        border-spacing: 0;
        text-indent: initial;
    }
    

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        resize: vertical;
    }

    td {
        resize: vertical;
    }

    element.style {
        text-align: left;
    }

    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }

    .ng-table th.sortable.sort-asc{
        background-color: rgba(141,192,219,.25);
        text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
    }

    .ng-table th.sortable {
        cursor: pointer;
    }
    .table>thead>tr>th {
        color: #fff;
        resize: vertical;
    }
    .table>thead>tr>th {
        border-bottom-width: 1px;
        resize: vertical;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #cbc7c7;
        resize: vertical;
    }

    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.52857143;
        resize: vertical;
    }

    .ng-table th {
        user-select: none;
        resize: vertical;
    }

    th {
        display: table-cell;
        font-weight: bold;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        text-indent: initial;
    }

    
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    style attribute {
        text-align: left;
    }

    .ng-table th.sortable.sort-asc{
        text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
    }

    .ng-table th.sortable {
        cursor: pointer;
    }
    .table>thead>tr>th {
        color: #fff;
    }

    .ng-table th {
        user-select: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    table {
        text-indent: initial;
    }

    .fa-caret-up:before {
        content: "\f0d8";
    }

    :before {
        box-sizing: border-box;
    }


    element.style {
        text-align: left;
    }

    .form-control {
        box-shadow: 0 0 0 #000!important;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 35px;
        padding: 6px 16px;
        font-size: 14px;
        line-height: 1.52857143;
        color: #3a3f51;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dde6e9;
        border-radius: 4px;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
    font-family: inherit;
}

input {
     
    font: inherit;
    margin: 0;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    resize: vertical;
}

element.style {
    padding-top: 25px;
}
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

element.style {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-footer {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

a {
    outline: 0!important;
}
a {
    color: #0b0c0c;
    text-decoration: none;
}
a {
    background: 0 0;
}

.btn {
    border-radius: 3px;
    font-size: 13px;
    border-color: transparent;
    -webkit-appearance: none;
    outline: 0!important;
    transition: all .1s;
}

.btn-success {
    color: #fff;
    background-color: #3e3e3e;
    
}

.btn-success:hover {
    color: #fff;
    background-color: #000;
    
}
element.style {
    margin-left: 7px;
}

element.style {
    margin-left: 10px;
}

.btn-warning {
    color: #fff;
    background-color: #ff902b;
}